.container_item_Detail_hero {
  height: 70px;
  display: flex;
  justify-content: center;
}

.form_item_Detail_hero {
  width: 100%;
  display: flex;
  margin-top: 30px;
}

.form_group {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_group .input-search {
  width: 400px;
}

.form_group .form-label {
  width: 400px;
}
.btn_form_item_Detail_hero {
  width: 200px;
  height: 40px;
  margin-left: 10px;
}

.container-hero {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-top: 10px;
}

@media (max-width: 1024px) {
  .container-hero {
    grid-template-columns: repeat(2, 1fr);
  }

  .form-label h5{
    text-align: center;
    font-size: 16px;
  }
}

@media (max-width: 780px) {
  .container-hero {
    grid-template-columns: repeat(2, 1fr);
  }

  .form-label h5{
    text-align: center;
    font-size: 16px;
  }
}


@media (max-width: 480px) {
  .container-hero {
    grid-template-columns: repeat(1, 1fr);
  }

  .form-label h5{
    text-align: center;
    font-size: 16px;
  }
}

@media (max-width: 320px) {
  .form_group {
    flex-direction: column;
    align-items: center;
  }

  .form_group .input-search {
    width: 250px;
  }

  .form_group .form-label {
    text-align: center;
    margin-top: 60px;
  }

  .form_group .input-search {
    margin-left: 30px;
  }

  .btn_form_item_Detail_hero {
    margin-top: 20px;
    margin-left: 30px;
  }

  .container-hero {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 100px;
  }
}
