.container-heroo {
  display: flex;
  background-color: rgb(17, 170, 81);
  border-radius: 5%;
}

.container-heroo img {
  width: 50%;
  height: 300px;
  border-radius: 5%;
}

.detail-hero-titles {
  margin-left: 80px;
}

.detailHero {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn_herooo {
  width: 200px;
  margin-top: 30px;
  margin-left: 100px;
}

.btn_herooo_eliminar {
  width: 150px;
  margin-top: 30px;
  margin-left: 140px;
}

@media (max-width: 1024px) {
  .btn_herooo {
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 20px;
  }

  .btn_herooo_eliminar {
    margin-top: 20px;
    margin-left: 60px;
  }
}

@media (max-width: 780px) {
  .btn_herooo {
    width: 160px;
    margin-top: 20px;
    margin-left: 15px;
  }

  .btn_herooo_eliminar {
    margin-top: 20px;
    margin-left: 20px;
  }

  .detail-hero-titles {
    margin-left: 20px;
  }
}

@media (max-width: 480px) {
  .btn_herooo {
    margin-top: 20px;
    margin-left: 50px;
  }

  .btn_herooo_eliminar {
    margin-top: 20px;
    margin-left: 50px;
  }
}

@media (max-width: 320px) {
  .container-heroo {
    flex-direction: column;
    align-items: center;
  }
  .detail-hero-titles {
    margin-left: 60px;
  }

  .btn_herooo,
  .btn_herooo_eliminar {
    margin-left: 90px;
    margin-bottom: 20px;
  }

  .container-heroo img {
    margin-top: 20px;
  }
}
