.container-heroo {
  display: flex;
  background-color: rgb(17, 170, 81);
  border-radius: 5%;
}

.container-heroo img {
  width: 50%;
  height: 300px;
  border-radius: 5%;
}

.detail-hero-titles {
  margin-left: 80px;
}

.detailHero {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn_herooo {
  width: 200px;
}


@media (max-width: 420px) {
  .container-heroo{
    flex-direction: column;
    align-items: center;
  }
  .detail-hero-titles{
    margin-left: 60px;
  }
  
  .btn_herooo {
    margin-bottom: 20px;
  }

  .container-heroo img{
    margin-top: 20px;
  }
}